<h2>All Patients</h2>

<div class="row">
  <div class="col-lg-3">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h5>Advanced settings</h5>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <label class="form-label">Search</label>
          <input type="text" class="form-control"></input>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </div>

  </div>

  <div ng-controller="PatientCtrl" class="col-lg-9 panel panel-default">

    <table class="table table-hover">

      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Birthday</td>
          <td>Date Joined</td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="patient in patients">
          <td>{{ patient.id }}</td>
          <td>{{ patient.firstname + " " + patient.lastname }}</td>
          <td>{{ patient.birthday }}</td>
          <td>{{ parse_patient_date(patient.created_at) }}</td>
        </tr>
      </tbody>

    </table>

  </div>
</div>