/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require chosen
 *= require_self
 *= require_tree
 *//*.
 require bootstrap
 require bootstrap-wysihtml5
 */

.accordion_area {
	background: white;
}

.side-nav.expanded {
  display: block;
}

.index-table {
	width: 95%;

}

.profile-pic {
  padding: 10px;
  border: 1px solid black;
  width: 70%;
}