.container {
	width: 100%;
}

.navigation {
	background: url('/assets/top.jpg');
	height: 100px;
	margin-bottom: 25px;
}

.navbar {
	position: relative;
	top: 75px;
}

.sidebar {
	width: 20%;
	float: left;
	background: #E7FEFF;
	height: 500px;
}

.content-space {
	width: 80%;
	margin-left: 10px;
}